.App {
    background-color: rgba(246, 246, 219);
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    background-position: center;
    /* position: fixed; */
    padding-bottom: 1vw;
}

.header {
    padding-top: 1vw;
    background-color: rgb(167, 212, 137);
}

.stateImage {
    padding-top: 1vw;;
    padding-bottom: 1vw;
    min-height: 3vw;
    min-width: 3vw;;
    max-height: 25vw;

}

.inp-box {
    background-color: rgb(167, 212, 137);
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
    padding-left: 2vw;
    padding-right: 2vw;


}

.box-container {
    padding-top: 1.5vw;
}

.header-spacing {
    padding-bottom: 1vw;;
}

.font-size {
    font-size: 120%;
}

.dropdown-spacing {
    padding-bottom: 0vw;
}

.calculator-spacing {
    padding-top: 1.75vw;
}

.calculator-background {
    padding-top: .5vw;
    padding-bottom: .5vw;
    background-color: rgb(167, 212, 137);
}

.calculator-text {
    font-size: 170%;
}

.output-text {
    font-size: 200%;
    font-weight: bolder;
}

.subtitle-style {
    font-size: 150%;
}